/* Global Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/bg image for home page.jpg');
    background-size: cover;
    background-position: center;
    filter: blur();
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 15, 15, 0.84);
}

nav {
    background: linear-gradient(135deg, #4caf4f97, #2196F3);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    z-index: 1000;
    transition: width 0.3s ease;
}

.logo-container {
    text-align: center;
    padding: 20px 0;
}

.logo-glass {
    background: rgba(247, 241, 241, 0.123);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(75, 211, 193, 0.5);
    transition: transform 0.3s ease;
}

.logo-glass:hover {
    transform: scale(1.1);
}

.logo-glass h1 {
    color: #272020;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    display: block;
    padding: 15px 20px;
    color: #efe5e5;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    filter: blur(1.2px);
}

.glass-slide {
    width: 200px;
    height: auto; /* Adjust the height as needed */
    max-height: 400px; /* Set a maximum height to prevent excessive expansion */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(31, 27, 27, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    overflow: hidden;
    overflow-y: auto; 

.glass-slide:hover {
    transform: scale(1.1);
}

.glass-slide img {
    display: flex;
    align-content: center;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event-details h2 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.event-details p {
    color: #fff;
    margin: 5px 0;
    font-size: 16px;
}

.options {
    margin: bottom 20px; ; /* Pushes the options to the bottom of the container */
    max-height: 50%; /* Set a maximum height for the options */
    overflow-y: auto;
}

.join-btn,
.details-btn {
    display: inline-block;
    padding: 8px 20px; 
    margin-top: 12px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.join-btn:hover,
.details-btn:hover {
    background-color: #45a049;
}
