body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7d1a7d3; 
}

.login-container {
    position: relative;
    width: 400px;
    height: 500px;
}

.login-form {
    background-color: rgba(115, 139, 105, 0.699); 
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(8px); 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="tel"],
button {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #edf2f7; 
    color: #333; 
    font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

button {
    background-color: #3498db; 
    color: #fff; 
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; 
}

.options {
    text-align: center;
}

.login-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the login button */
.login-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Style the options links */
.options a {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}

.options a:hover {
    text-decoration: underline;
}